* {
    box-sizing: border-box;
}

body {
    padding: 20px;
}

.sticky-btn {
    padding: 10px;
    background: rgb(182, 182, 223);
    color: rgb(25, 25, 26);
    border-radius: 10px;
    cursor: pointer;
    border: none;
}

.sticky-btn:hover {
    background: dodgerblue;
}

.sticky-note {
    width: 200px;
    border: 3px solid #5b5252;
    position: absolute;
    top: 30px;
    left: 50px;
}

.sticky-note-header {
    background: blue;
    color: white;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    cursor: move;
}

textarea {
    outline: none;
    width: 100%;
    padding: 10px;
    height: 200px;
    resize: none;
    border: none;
}

.close {
    width: 35px;
    height: 35px;
    background: rgb(21, 18, 7);
    border-radius: 50%;
    display: grid;
    place-content: center;
    padding-bottom: 5px;
    cursor: pointer;
}

.close:hover {
    opacity: 0.8;
}